<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Trong file HTML -->
   <link rel="stylesheet" href="/login.css">


</head>
<body class="outer-container">
<div class="container">
    <div class="center">
        <form action="/login" method="POST" class="login-form">
            <h2>Log In</h2>
            <div class="input-container">
                <input type="text" name="name" placeholder="Name">
                <input type="password" name="password" placeholder="Password">
                <input type="submit" value="Submit">
            </div>
            <a class="signup-link" href="./signup">Make a new account</a>
        </form>
    </div>
</div>
</body>
</html>